.App{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.Header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 15px;
    background-color: black;
    color: white;
}
.logo-container .logo{
    width: 100px;
    margin: 10px;
    padding: 10px;
}

.logo-container{
    display: flex;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bolder;
}
.AppName{
        padding: 35px 0px;
}
.Nav-Items > ul{
    display: flex;
    font-size: 25px;
    font-weight: 600;
}
.Nav-Items > ul > li {
    margin: 10px;
    padding: 10px 35px;
    list-style-type: none;
}
.cart{
    width: 40px;
}
.filter-box > button {
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    font-size: 18px;
    border: 1px solid #f0f0f0;
}

.restaurant-card{
    position: relative;
    width: 340px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 450;
    font-size: 18px;
    margin: 8px;
    transition: transform 0.2s ease-in-out;

}
.restaurant-card:hover, .filter-box > button:hover{
    border: 1px solid lightgrey;
    cursor: pointer;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}  
.res-img > img {
    position: relative;
    width: 310px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.resname{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;

}
.rating-icon > img{
    width: 25px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.time {
    position: absolute;
    bottom: 0px;
    left: 150px;
    font-weight: 550;

}
.rating{
    position: relative;
    padding: 0px 30px;
    font-weight: 550;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.price{
    position: relative;
    bottom: 50px;
    left: 15px;
    font-size: 25px;
    color: white;
    font-weight: 700;
}
.restaurant-card .rating, .cuisines, .location {
    margin-bottom: 5px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 110px 0px;
}
.shimmer-card{
    margin: 25px;
    background-color: #f0f0f0;
    width: 310px;;
    height: 400px;
}

.login{
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.search-box, .searchbtn{
    justify-content: center;
    margin: 20px 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: transform 0.2s ease-in;
    font-size: 18px;
    border: 1px solid #dcdada;
}